body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F4F2
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "YS Text";
    src: url("/fonts/YS Text-Bold.eot");
    src: url("/fonts/YS Text-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/YS Text-Bold.woff2") format("woff2"),
        url("/fonts/YS Text-Bold.woff") format("woff"),
        url("/fonts/YS Text-Bold.ttf") format("truetype"),
        url("/fonts/YS Text-Bold.svg#YSText-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}

.YSText-Bold {
    font-family: "YS Text", helvetica, arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: "YS Text";
    src: url("/fonts/YS Text-Medium.eot");
    src: url("/fonts/YS Text-Medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/YS Text-Medium.woff2") format("woff2"),
        url("/fonts/YS Text-Medium.woff") format("woff"),
        url("/fonts/YS Text-Medium.ttf") format("truetype"),
        url("/fonts/YS Text-Medium.svg#YSText-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

.YSText-Medium {
    font-family: "YS Text", helvetica, arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "YS Text";
    src: url("/fonts/YS Text-Regular.eot");
    src: url("/fonts/YS Text-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/YS Text-Regular.woff2") format("woff2"),
        url("/fonts/YS Text-Regular.woff") format("woff"),
        url("/fonts/YS Text-Regular.ttf") format("truetype"),
        url("/fonts/YS Text-Regular.svg#YSText-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

.YSText-Regular, body {
    font-family: "YS Text", helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 16px;
}

.swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{
    display: none;
}
.swiper-slide {
    height: 100% !important;
}
.swiper-button-next, .swiper-button-prev{
    box-shadow: 0 8px 20px rgba(117, 115, 111, 0.2);
    width: 46px !important;
    background-color: #ffffff;
    transition: all .2s;
    border-radius: 100px;
    right: 5px !important;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 15px !important;
    font-weight: bold;
    color: black;
}
.swiper-button-prev{
    left: 5px !important;
}

.SupportChatButton_button {
    left: 20px;
    width: 60px;
    border: none;
    bottom: 20px;
    cursor: pointer;
    height: 60px;
    display: flex;
    z-index: 110;
    position: fixed;
    background: #FCE000;
    box-shadow: 0 10px 20px 0 rgba(252,224,0,0.43), 0 5px 10px 0 rgba(252,224,0,0.28);
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}